h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0 !important;
}

.blog_wrapper {
    background-color: #EDEDED;
}
.blog {
    height: 400px !important;
    background-position: center;
    background-image: url('/assets/images/blog_banner.webp');
}
.blog_wrapper__heading p {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
}

.blog_card {
    box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 94%;
}

.blog_img img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.blog_content {
    padding: 20px;
}

.blog_content h6 {
    margin-top: 10px;
    line-height: 1.2;
    font-size: 25px;
    color: #000;
    // font-family: "tubitha";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.blog_content p {
    font-size: 15px;
    margin: 12px 0 !important;
}

.map-enter iframe {
    width: 100%;
}

.map_wrapper__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: 100%;
}

.map_wrapper__left-top p {
    color: #9a9a9a;
    font-size: 14px;
}

.map_wrapper__left-bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 2rem;
}

.map_wrapper__left-bottom a {
    color: #3a4149;
    font-size: 15px;
    font-weight: 500;
}

/* blog_footer */

.blog_footer {
    background-color: #F7F7F7;
    padding: 1rem 0;
}

.blog_footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blog_footer__content a {
    margin-right: 24px;
    font-size: 14px;
    position: relative;
    color: #3a4149;
    margin-top: 6px;
}

.blog_footer__content a::after {
    content: '';
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 10px;
    background-color: #3a4149;
}

.map_wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.blog-details-img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

// .blog-details-content h3 {
//     font-size: 30px;
//     color: #444444;
//     font-family: "tubitha";
//     margin-top: 2rem;
// }

.shariff li {
    height: 30px;
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
    width: 120px;
}

.shariff li a {
    color: #fff;
    position: relative;
    display: block;
    padding: 0 5px 0 34px;
    line-height: 30px;
}

.shariff .googleplus a {
    background-color: #d34836;
}

.shariff .facebook a {
    padding-left: 24px;
    background-color: #3b5998;
}

.shariff .twitter a {
    background-color: #55acee;
}

.shariff .reddit a {
    padding-left: 24px;
    background-color: #cee3f8;
}

.shariff .info a {
    padding: 0;
    color: #666;
    background-color: #fff;
}

.shariff {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-details-content p {
    font-size: 15px;
    margin-bottom: 12px !important;
    line-height: 1.8;
}

.next-prev-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-prev-btn a {
    display: flex;
    color: #0179b9;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.next-prev-btn a i {
    font-size: 25px;
}

@media(max-width:992px) {
    .map_wrapper__left {
        padding: 1rem 0;
    }
    .map_wrapper__left-bottom {
        margin-top: 1rem;
    }
}

@media(max-width:768px) {
    .blog_content {
        padding: 10px;
    }
    .blog_content h6 {
        font-size: 22px;
    }
    .blog_content p {
        margin: 9px 0 !important;
        font-size: 14px;
        line-height: 1.6;
    }
    .blog-details-img img {
        height: 400px;
    }
    .blog-details-content h3 {
        font-size: 24px;
        margin-top: 1rem;
    }
    .shariff {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .blog-details-content p {
        margin-bottom: 7px !important;
    }
    .next-prev-btn a {
        font-size: 14px;
    }
    .next-prev-btn a i {
        font-size: 22px;
    }
}

.global_btn:hover {
    color: white !important;
}