.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }


  .forgot-login-box h3 {
    font-size: 32px;
    font-family: "tubitha";
    color: var(--main-color);
    font-weight: 500;
}

.forgot-email label {
  color: #555;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.global_btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 8px 22px;
  font-size: 0.875rem;
  line-height: 24px;
  background-color: #9bbb59;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
  

.forgot-login-box{
  padding: 20px;
}

.form_border{
  border-radius:8px ;
}

.forgot-email{
  margin-bottom: 20px;
  margin-top: 15px;
}