
.blog_details{

    p{
        box-sizing: inherit;
        margin-right: auto;
        margin-bottom: 1.6em;
        margin-left: auto;
        border: 0;
        font-size: 15px;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        max-width: var(--wp--custom--ast-content-width-size);
        line-height: 1.8;
        color: rgb(85, 85, 85);
        font-family: Roboto, sans-serif;
    }
}



